.App-header {
  background-color: #DCDCDC;
  min-height: 100vh;
  display: grid;
}

.side-pane {
  background-color: #000;
  width: 4em;
  display: grid;
  grid-template-rows: 1fr 60px;
}

.side-pane-avatar {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  margin-top: 1em;
  position: relative;
}

.side-pane-logout {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  left: 10px;
}

.logo {
  color: #FFCC00;
  position: absolute;
  top: 4em;
  left: -1.9px;
}